/* 
    SPDX-FileCopyrightText: AdGuard Software Limited
    SPDX-License-Identifier: GPL-3.0-or-later
*/

.Logo {
    display: flex;
    height: 24px;

    &_logoIcon {
        width: 146px;
        height: 24px;
    }
}
