/* 
    SPDX-FileCopyrightText: AdGuard Software Limited
    SPDX-License-Identifier: GPL-3.0-or-later
*/

.HowItWorks {
    &_block {
        &_title {
            padding: var(--m-l) var(--m-s) var(--m-s);
            box-sizing: content-box;
        }

        &_desc {
            padding: 0 var(--m-s) var(--m-l);
            box-sizing: content-box;
        }
    }
}
