// SPDX-FileCopyrightText: AdGuard Software Limited
//
// SPDX-License-Identifier: GPL-3.0-or-later

//
//  ConfigNative.xcconfig
//  AdguardMini
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "./CommonConfig.xcconfig"

ADGUARD_UPDATE_BASE_URL = https:$(SLASH)/static.adtidy.org/macmini
ADGUARD_APP_CAST_URL = $(ADGUARD_UPDATE_BASE_URL)/$(AG_CHANNEL)/adguard-mini-appcast.xml

AG_ALTERNATE_UPDATE_DOMAIN = static.adtidy.info

AG_HELPER_REQ = anchor apple generic and certificate leaf[subject.OU] = "$(AG_TEAM)"

GCC_PREPROCESSOR_DEFINITIONS[config=Debug-Standalone] = $(ADGUARD_GCC_PREPROCESSOR_DEFINITIONS) DEBUG
GCC_PREPROCESSOR_DEFINITIONS[config=Release] = $(ADGUARD_GCC_PREPROCESSOR_DEFINITIONS) RELEASE NDEBUG
