/* 
    SPDX-FileCopyrightText: AdGuard Software Limited
    SPDX-License-Identifier: GPL-3.0-or-later
*/

.AddCustomFilterModal {
    &_desc {
        margin: var(--m-xxs) auto var(--m-s);
        text-align: center;
    }

    &_container {
        padding: 0 var(--m-s);
    }

    &_checkbox {
        text-align: left;
        padding-top: var(--m-xxs);
        padding-bottom: var(--m-m);

        &_desk {
            color: var(--text-main-text-main-default);
            display: inline;
            text-wrap: wrap;
        }
    }

    &_input {
        text-align: left;
        margin: var(--m-s) 0;
    }


    &_button {
        margin-bottom: var(--m-s);
        max-width: 100%;

        &:last-of-type {
            margin: 0;
        }
    }

    &_filterDesc {
        text-align: left;
        margin-bottom: var(--m-s);
    }

    &_buttonContent {
        display: flex;
        align-items: center;
        position: relative;

        &_text {
            margin: 0 auto;
        }

        &_loader {
            color: var(--text-buttons-primary-default);
        }
    }
}
