/*
 * SPDX-FileCopyrightText: AdGuard Software Limited
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

:root {
    --fills-backgrounds-page-background-default: #FFFFFF;
    --text-main-text-main-default: #3D3D3D;
    --fills-buttons-main-button-default: #67B279;
}

@media (prefers-color-scheme: dark) {
    :root {
        --fills-backgrounds-page-background-default: #1F1F1F;
        --text-main-text-main-default: #E4E4E4;
    }
}

body {
    background-color: var(--fills-backgrounds-page-background-default);
}
