/* 
    SPDX-FileCopyrightText: AdGuard Software Limited
    SPDX-License-Identifier: GPL-3.0-or-later
*/

.RemoveAllCustomFiltersModal {
    &_button {
        margin: var(--m-xxs) 0 var(--m-s) ;
        max-width: 100%;

        &:last-of-type {
            margin: 0;
        }
    }

    &_buttonContent {
        display: flex;
        position: relative;

        &_text {
            margin: 0 auto;
        }
    }
}
