/* 
    SPDX-FileCopyrightText: AdGuard Software Limited
    SPDX-License-Identifier: GPL-3.0-or-later
*/

.Router {
    &_container {
        width: auto;
        height: 100%;
        min-height: 0;
        overflow-y: auto;
        flex: 1;
    }
}
