/* 
    SPDX-FileCopyrightText: AdGuard Software Limited
    SPDX-License-Identifier: GPL-3.0-or-later
*/

.About {
    &_textSpace {
        margin-bottom: var(--m-xxxs);
        user-select: text;
        -webkit-user-select: text;
    }

    &_version {
        display: flex;
        align-items: center;

        &_copy {
            margin-left: auto;
            margin-top: -4px;
        }    
    }

    &_libraries {
        cursor: pointer;
    }

    &_dependencies {
        display: flex;
        cursor: pointer;
        margin-top: var(--m-l);

        &_arrow {
            margin-left: auto;
            transform: rotate(-90deg);

            &__active {
                margin-left: auto;
                transform: rotate(90deg);
            }
        }

        &_item {
            color: var(--text-description-description-default);
        }
    }

    &_description {
        margin-top: var(--m-s);
        margin-bottom: var(--m-m);
    }

    &_updateSection {
        margin-top: var(--m-xs);
    }

    &_update {
        margin-bottom: var(--m-l);
        margin-top: -16px;
        &_requestUpdate {
            display: inline;
            color: var(--fills-buttons-main-button-default);
            cursor: pointer;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }

    &_rights {
        color: var(--text-placeholder-placeholder-default);
    }

    &_link {
        display: block;
        width: min-content;
        white-space: nowrap;
        padding: var(--m-xxs) 0;
    }
}
