/* 
    SPDX-FileCopyrightText: AdGuard Software Limited
    SPDX-License-Identifier: GPL-3.0-or-later
*/

.NotSupportedModal {
    &_descLink {
        color: var(--text-links-link-default);
        text-decoration: underline;
        cursor: pointer;

        &:hover {
            color: var(--text-links-link-default);
            text-decoration: none;
        }
    }

    &_submit {
        margin-top: var(--m-xxs);
    }
}
