/* 
    SPDX-FileCopyrightText: AdGuard Software Limited
    SPDX-License-Identifier: GPL-3.0-or-later
*/

html, body {
    border-radius: 8px;
    height: 582px;
    overflow: hidden;
    scroll: none;
}

.trayNotificationsContainer {
    left: 16px;
    right: 16px;
    bottom: 24px;
}