/* 
    SPDX-FileCopyrightText: AdGuard Software Limited
    SPDX-License-Identifier: GPL-3.0-or-later
*/

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 8px;
    background-color: var(--fills-backgrounds-page-background-additional-default);
    margin-bottom: var(--m-s);
    
}

.wrapper {
    display: flex;
    padding: var(--m-s);
    justify-content: center;
    align-items: center;
    align-self: stretch;
    flex-direction: column;
    text-align: center;
    margin: auto;
}

.btn {
    margin-left: auto;
    margin-right: auto;
}

.desc {
    color: var(--text-description-description-default);
    margin-bottom: var(--m-m);
}