/* 
    SPDX-FileCopyrightText: AdGuard Software Limited
    SPDX-License-Identifier: GPL-3.0-or-later
*/

.EnableExtensionsController {
    position: fixed;
    height: *;
    background-color: var(--fills-backgrounds-page-background-default);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: var(--zi-paywall-modal);
}
