/* 
    SPDX-FileCopyrightText: AdGuard Software Limited
    SPDX-License-Identifier: GPL-3.0-or-later
*/

.ProtectionLevel {
    &_block {
        &_title {
            padding: var(--m-l) var(--m-s) var(--m-s);
            box-sizing: content-box;
        }

        &_desc {
            color: var(--text-description-description-default);
            padding: 0 var(--m-s) var(--m-s);
            box-sizing: content-box;
        }
    }

    &_level{
        padding: var(--m-s);

        &_desc {
            color: var(--text-description-description-default);
            padding-top: 2px;
        }
    }
}
