/* 
    SPDX-FileCopyrightText: AdGuard Software Limited
    SPDX-License-Identifier: GPL-3.0-or-later
*/

.SystemWideProtectionSwitch {
    &_button {
        display: inline;
        text-decoration: underline;
        text-decoration-color: var(--stroke-icons-attention-icon-default);

        &:hover {
            text-decoration: none;
        }
    }
}