/* 
    SPDX-FileCopyrightText: AdGuard Software Limited
    SPDX-License-Identifier: GPL-3.0-or-later
*/

.StoriesConfig {
    &_statistics {
        padding: var(--m-s);

        &_list {
            >li {
                padding-left: 8px;
            }
        }
    }
}
